.input{
    padding: 10px;
    width: 400px;
    font-size: large;
}

.btn{
    padding: 10px;
    margin-left: 10px;
    width: 200px;
    background-color:cornflowerblue;
    border:none;
    color: #fff;
    font-weight: 600;
    height: 45px;
    border-radius: 5px;
}

.thebox{
    border: 4px dotted #d3d3d3;
    padding: 30px;
    margin-top: 20px;
}

.head{
  font-size: xx-large;
  margin-bottom: 30px;
}

.status{
    padding: 30px;
    background-color: rgb(126, 113, 209);
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    transition: 0.3s ease top;
}