
.cell{
    border: none;
    padding: 10px;
    background-color: #eee;
    text-align: center;
}
.tableHead{
    font-weight: 700;
  
    color: #fff;
    padding: 10px;
    margin: 0;
    border: none;
}

.tableHead tr .cell{
    background-color: 	#2192FF;
    
}


.wrapper{
    width: 48%;
    padding: 30px 0;
    background-color:"#eeeeee",
}
.tableWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.heading{
    text-align: center;
    background-color:gold;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
}

.tableWrap table{
    font-weight: 1.2rem;
    width: 100%;
}

@media only screen and (max-width:900px){
    .wrapper{
        width: 90%;
    }
}

@media only screen and (max-width:650px){
    .cell{
        font-size: small;
    }

    .heading{
        width: 100%;
    }
    .wrapper{
        width: 100%;
    }

}