.slide{
    width: 98%;
    height: 60vh;
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .nainital{
    background-image:url(../public/images/cities/nanital.jpg)
  }

  .aboutus{
    background-image: url(../public/images/aboutus/aboutus.webp);
  }

  .contactus{
    background-image: url(../public/images/contact/heroimg.jpg);
  }

  .agra{
    background-image: url(../public/images/cities/agra.jpg);
  }

  .packages{
    background-image: url(../public/images/packages/packages.jpg);
  }

  .shimla{
      background-image: url(../public/images/cities/shimla.jpg);
  }
  
  .shade{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000070;
    z-index: 0;
  }
  
  .content{
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
  }
  
  .heading{
    font-size: 50px;
    font-weight: 900;
    color: #fff;
  }
  
  .text{
    width:90%;
    margin:auto;
    margin-top:10px;
    color: #fff;
    font-size: large;
  }

  @media only screen and (max-width:500px){
    .heading{
      font-size:35px;
    }
    .slide{
      height:50vh;
      padding:0 20px;
    }
  }