.mainUp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.leftMainUp{
    width: 50%;
}

.bodyImage , .bodyImagemb,.bodyImagemb2 {
    background-image: url(../public/images/umrah/body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 350px;
}
.bodyImagemb{
    width: 100%;
    height: 300px;
    margin: 20px 0;
    display: none;
}
.bodyImagemb2{
    background-image: url(../public/images/umrah/bady2.jpg);
    width: 100%;
    background-position: bottom;
    margin-top: 40px;
}
.body{
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.ul{
    list-style-type: disc;
    width: 80%;
    margin: auto;
}

.ul span{
    font-weight: 600;
    font-style: italic;
}

.imgBox{
    width: 100%;
    height: auto;
}

.imgBoxBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.mobiC{
    display: none;
}

.carousel .slide{
    padding: 30px 0;
}

.displayBox{
    height: 60vh;
    background-image: url(../public/images/umrah/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    border-radius: 10px;
}

.iraqImage{
    background-image: url(../public/iraq.jpeg);
    height: 70vh;
    background-size: contain;
}

.pkgBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.flexBox{
    display: flex;
    margin-top: 30px;
}

.timelineCardTop{
    background-color: #00C981;
   text-align: center;
   color: #fff;
   font-size: 30px;
}

.timelineCardBottom{
   text-align: center;
   font-size: 30px;
   padding: 10px;
}

.hajCard{
    display: flex;
}

.hajCardWrap{
    position: relative;
    margin: 20px;
    padding: 30px 10px;
    border: 1px solid #dbdbdb;
    box-shadow: 5px 5px 20px #00000030;
    border-radius: 10px;
    padding-left: 20px;
}

.hajCard .left{
    width: 70%;
}

.hajCard .iraqInnerWrap{
    width: 100%;
}

.hajCard .right{
    width: 30%;
}

.hajCardWrap h1{
    font-size: 35px;
    font-weight: 700;
}

.tag{
    font-style: italic;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.infoWrap{
    /* display: flex;
    justify-content: start;
    align-items: center; */
    margin-bottom: 30px;
}

.infoWrapCard{
    width: 100%;
    margin: 10px 0;
    background-color: #00C981;
    padding: 10px;
    color: #fff;
    margin-right: 20px;
    box-shadow: 3px 3px 10px #00000050;
}

.infoHead{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}

.infoText{
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}

.underline{
    width: 50%;
    height: 2px;
    border-radius: 5px;
    background-color: #ffe863;
    margin-bottom: 10px;
}

.hajInnerWrapper{
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
}

/* .innerWrapLeft{
    width: 70%;
}

.innerWrapRight{
    width: 30%;
} */


.hajCard h2{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
    /* text-align: center; */
}

.nul{
    margin-bottom: 30px;
}

.nul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.pricing{
    margin-top: 50px;
}

.pricing .infoWrapCard{
    background-color: #ffe863;
    padding: 15px;
    color: #000;
    box-shadow: 5px 5px 10px #00000020;
    margin-left: -50%;
    width: 150%;
    display: flex;
    justify-content: space-between;
}

.hajCardWrap{
    padding-bottom: 65px;
}
.contact{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #00C981;
    padding: 10px 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
}

.ctag{
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
}

.chead{
    font-size: 30px;
    font-weight: 800;
}

.quicLinks{
    margin: 40px 30px;

}

.quicLinks p{
    font-weight: 700;
}

.quicLinks a{
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.quicLinks a:hover{
    background-color: #f8f8f8;
}

.urhamHead{
    font-size: 35px;
    font-weight: 800;
    padding: 30px 0;
    text-align: center;
}


.table{
    width: 100%;
    border-spacing: 0px;
    position: relative;
}

/* .table tr{
    background-image: linear-gradient(#f0f0f0,#f8f8f8);
} */

.table tr td{
    vertical-align: top;
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.tableHeading{
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 0 30px;
    width: 40%;
}

.tableHead{
    position: sticky;
    z-index: 1;
    top: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
}

.tableHead td{
    padding: 10px 10px;   
    background-image: linear-gradient(to right, #00C981, #009461);
}

.iraqInfo{
    width: 70%;
}

.mobileViewIraq{
    display: none;
}

.mobileViewIraq .hajCardWrap{
    box-shadow: none;
}

.mobileViewIraq .hajCardWrap ul{
    width: 90%;
    margin: auto;
}

.mobileViewIraq .hajCardWrap h2{
    font-size: 1.3rem;
    margin-bottom: 0;
}

.mobileViewIraq .underline{
    display: none;
    margin-bottom: 20px;
    width: 100%;
}

.mobileViewIraq .cardHeading{
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0;
    color: #fff;
    background-image: linear-gradient(to right, #00C981, #009461);
}

.iraqInfo{
    width: 100%;
    display: flex;
    padding: 0;
}
.iraqInfo .infoWrapCard{
    background-image: linear-gradient(to right, #00C981, #009461);

    padding: 10px;
    text-align: center;
    background-color: #fff;
    /* color: #000; */
    box-shadow: 5px 5px 10px #00000030;
}

.iraqInfo .infoWrapCard .underline{
    margin: 10px auto;
    width: 90%;
}
.mobileViewIraq  .infoWrapCard{
    margin: 10px auto;
    width: 90%;
    box-shadow: none;
    color: #000;
    background-color: #f8f8f8;
    border-left: 5px solid #00C981;
    border-radius: 10px;
}

.pad{
    margin-top: 30px;
    font-size: 1.5rem;
}

.mobileViewIraq .iraqInfo .underline{
    margin-bottom: 5px;
}

@media only screen and (max-width:650px){

    .iraqInfo{
        width: 100%;
    }
    .table{
        display: none;
    }
    .mobileViewIraq{
        display: block;
    }
    .quicLinks{
        text-align: center;
        margin: 20px;
    }
    .quicLinks a{
        display: block;
        text-align: start;
    }

    .hajCardWrap{
        margin: 30px 0;
        padding: 20px 10px;
    }
    .hajCard{
        flex-direction: column;
    }

    .hajCard .left{
        width: 100%;
    }
    
    .hajCard .right{
        width: 100%;
    }

    .pricing .infoWrapCard{
        width: 100%;
        margin: 5px 0;
        flex-direction: column;
    }

    .nul .img{
        display: none;
    }

    .nul li{
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 28px;
    }


    .mobileViewIraq .nul li{
        border-bottom: 1px solid #dbdbdb;
        font-size: 14px;
        line-height: 20px;
    }

    .mobileViewIraq .hajCardWrap{
        border: none;
        margin: 0;
        padding:10px 0;
    }

   .iraqInfo{
    flex-direction: column;
   }

   .iraqInfo .infoWrapCard{
    padding: 20px 10px;
   }

    .pad{
        margin-top: 0;
    }

    .contact{
        display: none;
    }
    
    .deskC{
        display: none;
    }
    .mobiC{
        display: block;
    }
    .bodyImage{
        display: none;
    }
    .leftMainUp{
        width: 95%;
    }
    .bodyImagemb{
        display: block;
    }
    .body{
        padding: 15px;
        width: 100%;
    }
    .imgBoxBox{
        flex-direction: column;
    }
    .displayBox{
        height: 30vh;
        margin: 0;
        border-radius: 0;
        background-image: url(../public/images/umrah/1.jpg);
    }

    .iraqImage{
        background-image: url(../public/iraq.jpeg);
        height: 45vh;
        background-size: cover;
        background-position: left;
    }
}